@import "../../styles/Base.scss";

#Menu {
  padding: 0px 16px 50px 16px;
  background-color: $baseColor;

  .menu-container {
    max-width: 768px;
    .title-page {
      display: flex;
      justify-content: center;
      font-family: Homemade Apple;
      font-size: 40px;
      text-align: center;
      color: #ff6500;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      margin: 48px 0;
      padding-top: 56px;
    }

    .description {
      text-align: center;
    }

    .menu-option-container {
      display: flex;
      flex: 1;
      .menu-option {
        text-decoration: none;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-grow: 1;
        margin: 16px;
        background-size: cover;
        background-color: #fcfcfc;
        .btn-menu-option {
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
          height: 60px;
          width: 85%;
          font-family: Abel;
          font-size: 20px;
          background-color: #fff;
          border: none;
          color: #d96921;
          margin-bottom: -30px;
          border-radius: 5px;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    padding-top: 30px;
    .menu-container {
      .title-page {
        font-size: 30px;
      }
      .menu-option-container {
        flex-direction: column;
        .menu-option {
          margin-bottom: 60px;
          .btn-menu-option {
            font-size: 18px;
          }
        }
      }
    }
  }
}
