@import '../../styles/Base.scss';

#Home {
  background-color: $baseColor;
  
  .news-container {
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    height: 555px;

    .container {

      h2 {
        margin: 60px 0 40px 0;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    
    .news-container {
      height: 560px;

      .container {
  
        h2 {
          text-align: center;
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    
    .news-container {
      height: 470px;

      .container {
  
        h2 {
          margin: 50px 0 20px 0;
          text-align: center;
        }
      }
    }
  }
}